/* Add icon to admin pages */
@font-face {
	font-family:datafeedr;
	src:url(../assets/fonts/datafeedr.eot);
	src:url(../assets/fonts/datafeedr.eot?#iefix) format("embedded-opentype"),
		url(../assets/fonts/datafeedr.woff) format("woff"),
		url(../assets/fonts/datafeedr.ttf) format("truetype"),
		url(../assets/fonts/datafeedr.svg#datafeedr) format("svg");
	font-weight:400;
	font-style:normal
}

#adminmenu #toplevel_page_dfrapi .menu-icon-generic div.wp-menu-image:before {
	font-family: datafeedr !important;
	content: "\e600" !important;
	font-size: 1.3em !important;
}



.dfrapi_hide_label { display: none; }

.dfrapi_warning { color: red; }

a.dfrapi_plan_link
{
	color: #00AC4A;
	text-decoration: underline;
	padding-right: 1px;
	padding-left: 1px;
}

/***************************************************************
// Add/Edit Product Set Page
***************************************************************/
.dfrapi_hidden {display:none;}

/***************************************************************
// BEGIN "Networks" page CSS.
***************************************************************/

#dfrapi_networks { }

/* #dfrapi_networks .form-table > tbody > tr > th { display: none; } */

#dfrapi_networks .group
{
	margin-bottom: 5px;
	line-height: 34px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 4px 5px;
	background-size: 30px 30px;
	padding: 2px;
	border-left: 4px #FFF solid;
	border-top: 0 solid;
	border-right: 0 solid;
	border-bottom: 0 solid;
}

#dfrapi_networks .group.active
{
	border-left: 4px #2EA2CC solid;
	background-color: #f7fcfe;
}


#dfrapi_networks .group .sep { color: gray; }
#dfrapi_networks .group { background-color: #FCFCFC; }
/* #dfrapi_networks .group:hover { background-color: #F9F9F9; } */
#dfrapi_networks .group .meta { }

#dfrapi_networks .group .meta .name
{
	font-size: 110%;
	padding-right: 10px;
	padding-left: 36px;
}

#dfrapi_networks .group.active .meta .name {
	font-weight: bold;
	}

#dfrapi_networks .group .meta .status
{
	font-weight: normal;
	font-size: 85%;
}

#dfrapi_networks .group .meta .status .num_missing
{
	color: red;
	font-weight: bold;
}

#dfrapi_networks .group .meta .status .num_checked { color: #080; }
#dfrapi_networks .group .meta .status .num_networks { }
#dfrapi_networks .group .meta .status .num_merchants { }
#dfrapi_networks .group .meta .status .num_products { }

#dfrapi_networks .group .networks
{
	margin-left: 36px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: auto;
}

#dfrapi_networks .group .networks .networks_table { }
#dfrapi_networks .group .networks .networks_table th { padding: 5px; }
#dfrapi_networks .group .networks .networks_table th.checkbox_head { width: 20px; }
#dfrapi_networks .group .networks .networks_table th.networks_head { }
#dfrapi_networks .group .networks .networks_table th.type_head { width: 60px; }
#dfrapi_networks .group .networks .networks_table th.aid_head { }
#dfrapi_networks .group .networks .networks_table tr.network { }
#dfrapi_networks .group .networks .networks_table tr.network td { vertical-align: middle; }
#dfrapi_networks .group .networks .networks_table tr.network.no_products { }
#dfrapi_networks .group .networks .networks_table tr.network td.network_checkbox { }

/* Remove this to add Tracking ID input option 
#dfrapi_networks .group .networks .networks_table th.tid_head,
#dfrapi_networks .group .networks .networks_table td.tid_input { display: none; }
*/

#dfrapi_networks .group .networks .networks_table tr.network td.network_name
{
	white-space: nowrap;
	font-weight: bold;
}

#dfrapi_networks .group .networks .networks_table tr.network td.network_name .network_info
{
	color: gray;
	font-size: 90%;
	font-weight: normal;
}

#dfrapi_networks .group .networks .networks_table tr.network td.network_name .network_info .num_merchants { }
#dfrapi_networks .group .networks .networks_table tr.network td.network_name .network_info .num_products { }
#dfrapi_networks .group .networks .networks_table tr.network td.network_type { }
#dfrapi_networks .group .networks .networks_table tr.network td.network_type span
{
	font-weight: normal;
	white-space: nowrap;
}

#dfrapi_networks .group .networks .networks_table tr.network td.aid_input
{
	text-align: left;
	vertical-align: middle;
}

#dfrapi_networks .group .networks .networks_table tr.network td.tid_input
{
	text-align: left;
	vertical-align: middle;
}

#dfrapi_networks .group .networks .networks_table tr.network td.aid_input .aid_input_field
{
	width: 100%;
	border-color: #D7C3C4;
}

#dfrapi_networks .group .networks .networks_table tr.network td.tid_input .tid_input_field
{
	width: 100%;
	border-color: #D7C3C4;
}

#dfrapi_networks .group .networks .networks_table tr.network.no_products { background-color: #f5f5f5; }
#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_checkbox { }

#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name
{
	font-style: italic;
	color: #B3B3B3;
}

#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name .network_info
{
	font-style: italic;
	color: #B3B3B3;
}

#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name .network_info .num_merchants { }
#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_name .network_info .num_products { color: #FF6B6D; }
#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.network_type { }
#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.aid_input { }
#dfrapi_networks .group .networks .networks_table tr.network.no_products  td.tid_input { }


/***************************************************************
// BEGIN "Merchants" page CSS.
***************************************************************/

#dfrapi_merchants { }

#dfrapi_merchants .network
{
	border-left: 4px #FFF solid;
	border-top: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	margin-bottom: 5px;
	background-repeat: no-repeat;
	background-position: 4px 5px;
	padding: 2px;
	line-height: 34px;
	cursor: pointer;
}



#dfrapi_merchants .network { background-color: #FFF; }

#dfrapi_merchants .network.active
{
	border-left: 4px #2EA2CC solid;
	background-color: #f7fcfe;
}

#dfrapi_merchants .network:hover,
#dfrapi_merchants .network:hover.active { background-color: #FFF }

#dfrapi_merchants .network .sep { }
#dfrapi_merchants .network .meta { }

#dfrapi_merchants .network .meta .name
{
	font-size: 110%;
	padding-right: 10px;
	padding-left: 36px;
}

#dfrapi_merchants .network.active .meta .name {
	font-weight: bold;
	}

#dfrapi_merchants .network .meta .status {
	font-weight: normal;
	font-size: 85%;
 }

#dfrapi_merchants .network .meta .status .num_checked_none
{
	color: red;
	font-weight: bold;
}

#dfrapi_merchants .network .meta .status .num_checked_some { color: #009600; }
#dfrapi_merchants .network .meta .status .num_merchants { }
#dfrapi_merchants .network .meta .status .num_products { }

#dfrapi_merchants .network .merchants
{
	cursor: auto;
	margin-left: 36px;
	margin-right: 10px;
	margin-bottom: 36px;
}

#dfrapi_merchants .network .merchants .merchant_actions { margin-bottom: 10px; }

#dfrapi_merchants .network .merchants .merchant_actions .reset_search
{
	font-weight: bold;
	cursor: pointer;
}
#dfrapi_merchants .network .merchants .merchant_actions .sep
{
	color: gray;
	margin-right: 5px;
	margin-left: 5px;
}
#dfrapi_merchants .network .merchants .merchant_actions .filter_action {  }
#dfrapi_merchants .network .merchants .merchant_actions .select_action { }
#dfrapi_merchants .network .merchants .merchant_actions .hide_action { }
#dfrapi_merchants .network .merchants .merchants_table { }
#dfrapi_merchants .network .merchants .merchants_table tr.merchant { }

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_checkbox
{
	text-align: center;
	vertical-align: middle;
	width: 2%;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_name
{
	width: 80%;
	white-space: nowrap;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_name label { display: block; }
#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_info { }

#dfrapi_merchants .network .merchants .merchants_table tr.merchant .merchant_info .num_products
{
	width: 18%;
	white-space: nowrap;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products { background-color: #f5f5f5; }
#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products .merchant_checkbox { }

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products .merchant_name
{
	font-style: italic;
	color: #B3B3B3;
}

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products .merchant_info { }

#dfrapi_merchants .network .merchants .merchants_table tr.merchant.no_products .merchant_info .num_products
{
	font-style: italic;
	color: #FF6B6D;
}

#dfrapi_merchants .dfrapi_panes
{
	overflow: auto;
	width: 100%;
}

#dfrapi_merchants .dfrapi_pane_left
{
	width: 48.5%;
	float: left;
	border: 1px solid #dfdfdf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
}

#dfrapi_merchants .dfrapi_pane_right
{
	width: 48.5%;
	float: right;
	border: 1px solid #dfdfdf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-khtml-border-radius: 3px;
}

#dfrapi_merchants .dfrapi_pane_content
{
	overflow: auto;
	max-height: 300px;
	padding: 0;
	background: #F9F9F9;
	border-top: 1px solid #dfdfdf;
	clear: right;
}

#dfrapi_merchants .dfrapi_pane_title
{
	background-color: #F2F2F2;
	border-bottom: 0px;
	padding: 10px;
	line-height: 25px;
	font-size: 12px;
	color: #555;
}

#dfrapi_merchants .dfrapi_pane_title a
{
	float: right;
	margin-top: -2px;
}

#dfrapi_merchants .dfrapi_pane_title span
{
	padding-right: 1em;
	font-weight: bold;
}

#dfrapi_merchants .merchant
{
	margin: 0;
	padding: 0.5em 0;
	width: 100%;
	overflow: auto;
	border-bottom: 1px solid #dfdfdf;
}

#dfrapi_merchants .merchant_name
{
	line-height: 100%;
	padding-left: 5px;
	float: left;
	font-size: 90%;
}

#dfrapi_merchants .merchant_info
{
	font-size: 80%;
	line-height: 100%;
	margin-left: 20px;
	float:left;
}

#dfrapi_merchants .merchant.no_products .merchant_info {color:#FF6B6D;}

#dfrapi_merchants .merchant .merchant_hint
{
	float: right;
	line-height: 100%;
    font-size: 80%;
    font-style: italic;
}

#dfrapi_merchants .merchant.no_products
{
	color: gray;
	font-style: italic;
}

#dfrapi_merchants .merchant.hidden { display: none; }
#dfrapi_merchants .merchant input { display: none; }
#dfrapi_merchants .merchant:hover {
    background-color: #eaf2fa;
    cursor: pointer;
}

#dfrapi_merchants .merchant .merchant_hint span
{
	display: none;
	margin-right: 10px;
}

#dfrapi_merchants .dfrapi_pane_left .merchant:hover  .merchant_hint_add { display: inline; }
#dfrapi_merchants .dfrapi_pane_right .merchant:hover .merchant_hint_remove { display: inline; }





#dfrapi_account .account_table { max-width: 600px; }
#dfrapi_account .account_table .desc { width: 33%; }

/***************************************************************
// API ERROR MESSAGE
***************************************************************/

.dfrapi_api_error
{
	padding: 0px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	border: 1px solid #d9534f;
	background-color: #FFF;
}

.dfrapi_api_error .dfrapi_head
{
	background: #d9534f;
	color: #FFF;
	padding: 10px 0 10px 5px;
	font-weight: bold;
}

.dfrapi_api_error div
{
	display: block;
	padding: 5px;
}

.dfrapi_api_error .dfrapi_query strong {display: block;}
.dfrapi_api_error .dfrapi_query span
{
	color: #6C6C6C;
	font-family: monospace;
}

.dfrapi_api_info
{
	padding: 0px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	border: 1px solid #5bc0de;
}

.dfrapi_api_info .dfrapi_head
{
	background: #5bc0de;
	color: #FFF;
	padding: 10px 0 10px 5px;
	font-weight: bold;
}

.dfrapi_api_info div
{
	display: block;
	padding: 5px;
}

.dfrapi_api_info .dfrapi_query strong {display: block;}
.dfrapi_api_info .dfrapi_query span
{
	color: #6C6C6C;
	font-family: monospace;
}

/* Network Logo Background (30x30) */
.network_logo_30x30_2performant { background-image: url(../images/networks/30x30/2performant.jpg); }
.network_logo_30x30_adcell { background-image: url(../images/networks/30x30/adcell.jpg); }
.network_logo_30x30_admitad { background-image: url(../images/networks/30x30/admitad.jpg); }
.network_logo_30x30_adrecord { background-image: url(../images/networks/30x30/adrecord.jpg); }
.network_logo_30x30_adtraction { background-image: url(../images/networks/30x30/adtraction.jpg); }
.network_logo_30x30_affiliate4you { background-image: url(../images/networks/30x30/affiliate4you.jpg); }
.network_logo_30x30_affiliatefuture { background-image: url(../images/networks/30x30/affiliatefuture.jpg); }
.network_logo_30x30_affiliatefuture_coupons { background-image: url(../images/networks/30x30/affiliatefuture-coupons.jpg); }
.network_logo_30x30_awin { background-image: url(../images/networks/30x30/awin.jpg); }
.network_logo_30x30_awin_coupons { background-image: url(../images/networks/30x30/awin-coupons.jpg); }
.network_logo_30x30_affiliator { background-image: url(../images/networks/30x30/affiliator.jpg); }
.network_logo_30x30_affilinet { background-image: url(../images/networks/30x30/affilinet.jpg); }
.network_logo_30x30_affilinet_coupons { background-image: url(../images/networks/30x30/affilinet-coupons.jpg); }
.network_logo_30x30_amazon { background-image: url(../images/networks/30x30/amazon.jpg); }
.network_logo_30x30_amazonlocal { background-image: url(../images/networks/30x30/amazonlocal.jpg); }
.network_logo_30x30_apd { background-image: url(../images/networks/30x30/apd.jpg); }
.network_logo_30x30_avangate { background-image: url(../images/networks/30x30/avangate.jpg); }
.network_logo_30x30_avantlink { background-image: url(../images/networks/30x30/avantlink.jpg); }
.network_logo_30x30_avantlink_coupons { background-image: url(../images/networks/30x30/avantlink-coupons.jpg); }
.network_logo_30x30_belboon { background-image: url(../images/networks/30x30/belboon.jpg); }
.network_logo_30x30_belboon_coupons { background-image: url(../images/networks/30x30/belboon-coupons.jpg); }
.network_logo_30x30_bettymills { background-image: url(../images/networks/30x30/bettymills.jpg); }
.network_logo_30x30_bolcom { background-image: url(../images/networks/30x30/bolcom.jpg); }
.network_logo_30x30_bridaluxe { background-image: url(../images/networks/30x30/bridaluxe.jpg); }
.network_logo_30x30_buyat { background-image: url(../images/networks/30x30/buyat.jpg); }
.network_logo_30x30_clickbank { background-image: url(../images/networks/30x30/clickbank.jpg); }
.network_logo_30x30_clixgalore { background-image: url(../images/networks/30x30/clixgalore.jpg); }
.network_logo_30x30_commissionfactory { background-image: url(../images/networks/30x30/commissionfactory.jpg); }
.network_logo_30x30_commissionfactory_coupons { background-image: url(../images/networks/30x30/commissionfactory-coupons.jpg); }
.network_logo_30x30_commissionjunction { background-image: url(../images/networks/30x30/commissionjunction.jpg); }
.network_logo_30x30_commissionjunction_coupons { background-image: url(../images/networks/30x30/commissionjunction-coupons.jpg); }
.network_logo_30x30_commissionmonster { background-image: url(../images/networks/30x30/commissionmonster.jpg); }
.network_logo_30x30_connexity { background-image: url(../images/networks/30x30/connexity.jpg); }
.network_logo_30x30_daisycon { background-image: url(../images/networks/30x30/daisycon.jpg); }
.network_logo_30x30_dgm { background-image: url(../images/networks/30x30/dgm.jpg); }
.network_logo_30x30_doublenet { background-image: url(../images/networks/30x30/doublenet.jpg); }
.network_logo_30x30_effiliation { background-image: url(../images/networks/30x30/effiliation.jpg); }
.network_logo_30x30_flipkart { background-image: url(../images/networks/30x30/flipkart.jpg); }
.network_logo_30x30_familyblend { background-image: url(../images/networks/30x30/familyblend.jpg); }
.network_logo_30x30_flexoffers { background-image: url(../images/networks/30x30/flexoffers.jpg); }
.network_logo_30x30_gan { background-image: url(../images/networks/30x30/gan.jpg); }
.network_logo_30x30_impact { background-image: url(../images/networks/30x30/impact.jpg); }
.network_logo_30x30_linkconnector { background-image: url(../images/networks/30x30/linkconnector.jpg); }
.network_logo_30x30_linkconnector_coupons { background-image: url(../images/networks/30x30/linkconnector-coupons.jpg); }
.network_logo_30x30_rakuten { background-image: url(../images/networks/30x30/rakuten.jpg); }
.network_logo_30x30_rakuten_coupons { background-image: url(../images/networks/30x30/rakuten-coupons.jpg); }
.network_logo_30x30_m4n { background-image: url(../images/networks/30x30/m4n.jpg); }
.network_logo_30x30_markethealth { background-image: url(../images/networks/30x30/markethealth.jpg); }
.network_logo_30x30_mycommerce { background-image: url(../images/networks/30x30/mycommerce.jpg); }
.network_logo_30x30_netshops { background-image: url(../images/networks/30x30/netshops.jpg); }
.network_logo_30x30_onenetworkdirect { background-image: url(../images/networks/30x30/onenetworkdirect.jpg); }
.network_logo_30x30_optimise { background-image: url(../images/networks/30x30/optimise.jpg); }
.network_logo_30x30_paidonresults { background-image: url(../images/networks/30x30/paidonresults.jpg); }
.network_logo_30x30_paidonresults_coupons { background-image: url(../images/networks/30x30/paidonresults-coupons.jpg); }
.network_logo_30x30_partnerads { background-image: url(../images/networks/30x30/partnerads.jpg); }
.network_logo_30x30_partnerize { background-image: url(../images/networks/30x30/partnerize.jpg); }
.network_logo_30x30_pepperjam { background-image: url(../images/networks/30x30/pepperjam.jpg); }
.network_logo_30x30_pepperjam_coupons { background-image: url(../images/networks/30x30/pepperjam-coupons.jpg); }
.network_logo_30x30_performancehorizon { background-image: url(../images/networks/30x30/performancehorizon.jpg); }
.network_logo_30x30_regnow { background-image: url(../images/networks/30x30/regnow.jpg); }
.network_logo_30x30_revresponse { background-image: url(../images/networks/30x30/revresponse.jpg); }
.network_logo_30x30_shareasale { background-image: url(../images/networks/30x30/shareasale.jpg); }
.network_logo_30x30_shareasale_coupons { background-image: url(../images/networks/30x30/shareasale-coupons.jpg); }
.network_logo_30x30_shopello { background-image: url(../images/networks/30x30/shopello.jpg); }
.network_logo_30x30_snapdeal { background-image: url(../images/networks/30x30/snapdeal.jpg); }
.network_logo_30x30_superclix { background-image: url(../images/networks/30x30/superclix.jpg); }
.network_logo_30x30_theaffiliategateway { background-image: url(../images/networks/30x30/theaffiliategateway.jpg); }
.network_logo_30x30_tradedoubler { background-image: url(../images/networks/30x30/tradedoubler.jpg); }
.network_logo_30x30_tradedoubler_coupons { background-image: url(../images/networks/30x30/tradedoubler-coupons.jpg); }
.network_logo_30x30_tradetracker { background-image: url(../images/networks/30x30/tradetracker.jpg); }
.network_logo_30x30_tradetracker_coupons { background-image: url(../images/networks/30x30/tradetracker-coupons.jpg); }
.network_logo_30x30_webgains { background-image: url(../images/networks/30x30/webgains.jpg); }
.network_logo_30x30_webgains_coupons { background-image: url(../images/networks/30x30/webgains-coupons.jpg); }
.network_logo_30x30_zanox { background-image: url(../images/networks/30x30/zanox.jpg); }

/* Network Logo Background (16x16) */
.network_logo_16x16_2performant { background-image: url(../images/networks/16x16/2performant.jpg); }
.network_logo_16x16_adcell { background-image: url(../images/networks/16x16/adcell.jpg); }
.network_logo_16x16_admitad { background-image: url(../images/networks/16x16/admitad.jpg); }
.network_logo_16x16_adrecord { background-image: url(../images/networks/16x16/adrecord.jpg); }
.network_logo_16x16_adtraction { background-image: url(../images/networks/16x16/adtraction.jpg); }
.network_logo_16x16_affiliate4you { background-image: url(../images/networks/16x16/affiliate4you.jpg); }
.network_logo_16x16_affiliatefuture { background-image: url(../images/networks/16x16/affiliatefuture.jpg); }
.network_logo_16x16_affiliatefuture_coupons { background-image: url(../images/networks/16x16/affiliatefuture-coupons.jpg); }
.network_logo_16x16_awin { background-image: url(../images/networks/16x16/awin.jpg); }
.network_logo_16x16_awin_coupons { background-image: url(../images/networks/16x16/awin-coupons.jpg); }
.network_logo_16x16_affiliator { background-image: url(../images/networks/16x16/affiliator.jpg); }
.network_logo_16x16_affilinet { background-image: url(../images/networks/16x16/affilinet.jpg); }
.network_logo_16x16_affilinet_coupons { background-image: url(../images/networks/16x16/affilinet-coupons.jpg); }
.network_logo_16x16_amazon { background-image: url(../images/networks/16x16/amazon.jpg); }
.network_logo_16x16_amazonlocal { background-image: url(../images/networks/16x16/amazonlocal.jpg); }
.network_logo_16x16_apd { background-image: url(../images/networks/16x16/apd.jpg); }
.network_logo_16x16_avangate { background-image: url(../images/networks/16x16/avangate.jpg); }
.network_logo_16x16_avantlink { background-image: url(../images/networks/16x16/avantlink.jpg); }
.network_logo_16x16_avantlink_coupons { background-image: url(../images/networks/16x16/avantlink-coupons.jpg); }
.network_logo_16x16_belboon { background-image: url(../images/networks/16x16/belboon.jpg); }
.network_logo_16x16_belboon_coupons { background-image: url(../images/networks/16x16/belboon-coupons.jpg); }
.network_logo_16x16_bettymills { background-image: url(../images/networks/16x16/bettymills.jpg); }
.network_logo_16x16_bolcom { background-image: url(../images/networks/16x16/bolcom.jpg); }
.network_logo_16x16_bridaluxe { background-image: url(../images/networks/16x16/bridaluxe.jpg); }
.network_logo_16x16_buyat { background-image: url(../images/networks/16x16/buyat.jpg); }
.network_logo_16x16_clickbank { background-image: url(../images/networks/16x16/clickbank.jpg); }
.network_logo_16x16_clixgalore { background-image: url(../images/networks/16x16/clixgalore.jpg); }
.network_logo_16x16_commissionfactory { background-image: url(../images/networks/16x16/commissionfactory.jpg); }
.network_logo_16x16_commissionfactory_coupons { background-image: url(../images/networks/16x16/commissionfactory-coupons.jpg); }
.network_logo_16x16_commissionjunction { background-image: url(../images/networks/16x16/commissionjunction.jpg); }
.network_logo_16x16_commissionjunction_coupons { background-image: url(../images/networks/16x16/commissionjunction-coupons.jpg); }
.network_logo_16x16_commissionmonster { background-image: url(../images/networks/16x16/commissionmonster.jpg); }
.network_logo_16x16_connexity { background-image: url(../images/networks/16x16/connexity.jpg); }
.network_logo_16x16_daisycon { background-image: url(../images/networks/16x16/daisycon.jpg); }
.network_logo_16x16_dgm { background-image: url(../images/networks/16x16/dgm.jpg); }
.network_logo_16x16_doublenet { background-image: url(../images/networks/16x16/doublenet.jpg); }
.network_logo_16x16_effiliation { background-image: url(../images/networks/16x16/effiliation.jpg); }
.network_logo_16x16_familyblend{ background-image: url(../images/networks/16x16/familyblend.jpg); }
.network_logo_16x16_flexoffers { background-image: url(../images/networks/16x16/flexoffers.jpg); }
.network_logo_16x16_flipkart { background-image: url(../images/networks/16x16/flipkart.jpg); }
.network_logo_16x16_gan { background-image: url(../images/networks/16x16/gan.jpg); }
.network_logo_16x16_impact { background-image: url(../images/networks/16x16/impact.jpg); }
.network_logo_16x16_linkconnector { background-image: url(../images/networks/16x16/linkconnector.jpg); }
.network_logo_16x16_linkconnector_coupons { background-image: url(../images/networks/16x16/linkconnector-coupons.jpg); }
.network_logo_16x16_rakuten { background-image: url(../images/networks/16x16/rakuten.jpg); }
.network_logo_16x16_rakuten_coupons { background-image: url(../images/networks/16x16/rakuten-coupons.jpg); }
.network_logo_16x16_m4n { background-image: url(../images/networks/16x16/m4n.jpg); }
.network_logo_16x16_markethealth { background-image: url(../images/networks/16x16/markethealth.jpg); }
.network_logo_16x16_mycommerce { background-image: url(../images/networks/16x16/mycommerce.jpg); }
.network_logo_16x16_netshops { background-image: url(../images/networks/16x16/netshops.jpg); }
.network_logo_16x16_onenetworkdirect { background-image: url(../images/networks/16x16/onenetworkdirect.jpg); }
.network_logo_16x16_optimise { background-image: url(../images/networks/16x16/optimise.jpg); }
.network_logo_16x16_paidonresults { background-image: url(../images/networks/16x16/paidonresults.jpg); }
.network_logo_16x16_paidonresults_coupons { background-image: url(../images/networks/16x16/paidonresults-coupons.jpg); }
.network_logo_16x16_partnerads { background-image: url(../images/networks/16x16/partnerads.jpg); }
.network_logo_16x16_partnerize { background-image: url(../images/networks/16x16/partnerize.jpg); }
.network_logo_16x16_pepperjam { background-image: url(../images/networks/16x16/pepperjam.jpg); }
.network_logo_16x16_pepperjam_coupons { background-image: url(../images/networks/16x16/pepperjam-coupons.jpg); }
.network_logo_16x16_performancehorizon { background-image: url(../images/networks/16x16/performancehorizon.jpg); }
.network_logo_16x16_regnow { background-image: url(../images/networks/16x16/regnow.jpg); }
.network_logo_16x16_revresponse { background-image: url(../images/networks/16x16/revresponse.jpg); }
.network_logo_16x16_shareasale { background-image: url(../images/networks/16x16/shareasale.jpg); }
.network_logo_16x16_shareasale_coupons { background-image: url(../images/networks/16x16/shareasale-coupons.jpg); }
.network_logo_16x16_shopello { background-image: url(../images/networks/16x16/shopello.jpg); }
.network_logo_16x16_snapdeal { background-image: url(../images/networks/16x16/snapdeal.jpg); }
.network_logo_16x16_superclix { background-image: url(../images/networks/16x16/superclix.jpg); }
.network_logo_16x16_theaffiliategateway { background-image: url(../images/networks/16x16/theaffiliategateway.jpg); }
.network_logo_16x16_tradedoubler { background-image: url(../images/networks/16x16/tradedoubler.jpg); }
.network_logo_16x16_tradedoubler_coupons { background-image: url(../images/networks/16x16/tradedoubler-coupons.jpg); }
.network_logo_16x16_tradetracker { background-image: url(../images/networks/16x16/tradetracker.jpg); }
.network_logo_16x16_tradetracker_coupons { background-image: url(../images/networks/16x16/tradetracker-coupons.jpg); }
.network_logo_16x16_webgains { background-image: url(../images/networks/16x16/webgains.jpg); }
.network_logo_16x16_webgains_coupons { background-image: url(../images/networks/16x16/webgains-coupons.jpg); }
.network_logo_16x16_zanox { background-image: url(../images/networks/16x16/zanox.jpg); }

/* Temporarily remove Connexity from interface (#13803) */
div#group_connexity {
    display: none;
}

div#network_11 {
    display: none;
}


.clearfix:after {clear:both; content:'.'; display:block; visibility:hidden; height:0;}
.clearfix {display:inline-block; }
* html .clearfix {height:1%; }
.clearfix {display:block; }
.clearingdiv {clear:left; font-size:0; line-height:0; margin:0; padding:0; }
